html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

header {
  height: 60px;
}

span {
  color: #ffde59;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

a:hover {
  color: #ffde59;
  transform: scale(1.1);
}

@media (min-width: 1200px) {
  a {
    font-size: 25px;
  }
}

button {
  margin: 0;
  text-decoration: none;
  border: none;
  padding: 0;
  color: black;
  background: none;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.2);
}

.cards {
  width: 100%;
  height: 100%;
  padding: 15px 5px;
}

@media (min-width: 768px) {
  .cards {
    padding: 50px;
  }
}

.card {
  background: black;
}

.figure {
  object-fit: contain;
  height: 100%;
  width: 100vw;
}

img {
  min-height: 400px;
}

.description {
  line-height: 35px;
  padding-right: 100px;
}
